*{
  box-sizing :border-box;
  background-color: rgb(182, 208, 253);
}

body{
    background-color: rgb(182, 208, 253);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.search_result{
    display:border-box;
    border: 2px solid black;
  }


header {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 60px;
}

.title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* font-style: oblique; */
  font-size: 35px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.search-area {
  display: flex;
  width: 600px;
  height: 500px;
  box-shadow: 5px 5px 20px grey;
  border-radius: 8px;
  margin: 10px;
  padding: 20px;
  background-color: white;
  
  
}

#map-area{
  display: flex;
  width: 600px;
  height: 400px;
  box-shadow: 5px 5px 20px grey;
  border-radius: 8px;
  margin: 10px;
  padding: 20px;
  background-color: white;
  position: relative;
  padding-bottom: 75%; /* This is the aspect ratio*/
  overflow: hidden;
 /* display:none;*/
  
  
  }

.content-area {
  display: flex;
  width: 1220px;
  height: 550px;
  box-shadow: 5px 5px 20px grey;
  border-radius: 8px;
  margin: 10px;
  padding: 20px;
  background-color: white;
}

#search-map {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: -30px;
  }

 /*#map {
  height: 400px;*/
  /* The height is 400 pixels */
  /*width: 100%;
}*/
  /*#map
  {
      position: fixed !important; 
      /*height: 100% !important;
      width: 100% !important;*/
  
  /*#map-area{
    position: relative;
    padding-bottom: 75%;
    height: 550;
    overflow: hidden;*/
  
  /*#map-area iframe {
    position: absolute;
    top: 0;
    left: 0;
   /* width: 100% !important;
    height: 100% !important;*/
  

  
  
  /* The width is the width of the web page */

